:root {
    --text-color: #222;
    --bkg-color: #fff;
}

.dark-mode {
    --text-color: #eee;
    --bkg-color: #121212;
}

body {
    color: var(--text-color);
    background-color: var(--bkg-color);
}